:local(.markdownBody div) {
  color: var(--color-main);
  line-height: 1.5;
}

:local(.markdownBody div > :first-child) {
  margin-bottom: 2rem;
  margin-top: 0;
}

:local(.markdownBody div > :last-child) {
  margin-bottom: 0;
}

:local(.markdownBody div a) {
  box-shadow: inset 0 -2px 0 0 var(--color-secondary);
  color: var(--color-main);
  display: inline-block;
  font-weight: bold;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  transition: var(--transition);
  text-decoration: none;
}

:local(.markdownBody div a:hover) {
  background-color: var(--color-secondary);
}

:local(.markdownBody div blockquote) {
  background-color: var(--color-tertiary);
  border-left: 0.25rem solid var(--color-secondary);
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  padding: 0.125rem 1rem;
}

:local(.markdownBody div h1) {
  color: var(--color-main);
  text-align: center;
}

:local(.markdownBody div h2) {
  color: #999;
  margin: 2rem 0;
}

:local(.markdownBody div img) {
  display: block;
  margin: 2rem 0;
  width: 100%;
}

:local(.markdownBody div strong) {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(250, 247, 133, 0.3),
    rgba(250, 247, 133, 0.7) 95%,
    rgba(250, 247, 133, 0.1)
  );
}

:local(.markdownBody div h3, .markdownBody div h4, .markdownBody div h5, .markdownBody div h6) {
  color: #777;
  margin: 1rem 0;
}

:local(.markdownBody div > p:first-of-type::first-letter) {
  background-color: var(--color-main);
  color: var(--color-secondary);
  font-size: 4rem;
  font-weight: bold;
  float: left;
  line-height: 1;
  margin: -0.5rem 1rem 0.5rem 0;
  padding: 0.25rem 0.5rem 0.25rem 0.75rem;
  vertical-align: bottom;
}
