:local(.markdownBody div) {
  color: var(--color-main);
  line-height: 1.5;
}

:local(.markdownBody div > :first-child) {
  margin-bottom: 2rem;
  margin-top: 0;
}

:local(.markdownBody div > :last-child) {
  margin-bottom: 0;
}

:local(.markdownBody div a) {
  color: #357edd;
  font-weight: bold;
  text-decoration: none;
}

:local(.markdownBody div blockquote) {
  background-color: #fffceb;
  border-left: 0.25rem solid var(--color-secondary);
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  padding: 0.125rem 1rem;
}

:local(.markdownBody div h1) {
  color: var(--color-main);
  text-align: center;
}

:local(.markdownBody div h2) {
  color: #999;
  margin: 2rem 0;
}

:local(.markdownBody div img) {
  display: block;
  margin: 2rem 0;
  width: 100%;
}

:local(.markdownBody div h3, .markdownBody div h4, .markdownBody div h5, .markdownBody div h6) {
  color: #777;
  margin: 1rem 0;
}
