@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -15%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in-down {
  animation-duration: 0.5s;
  animation-name: fadeInDown;
}
