@keyframes down {
    0%,
    100% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(30deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -15%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes up {
    0%,
    100% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-30deg);
    }
}

@keyframes right-to-left {
    100% {
        margin-left: -1px;
    }
}
