@font-face {
    font-family: 'Droid Sans';
    src: url('../assets/fonts/droid-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../assets/fonts/droid-sans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
