.easter-egg {
    bottom: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    transform: translateX(150px);
    transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    width: 150px;
}

.easter-egg.activate {
    opacity: 1;
    transform: translateX(0);
}
