@import '../../node_modules/tachyons/css/tachyons.css';

::-moz-selection {
  background-color: var(--color-secondary);
}

::selection {
  background-color: var(--color-secondary);
}

:root {
  --color-main: #2e282a;
  --color-secondary: #ffe45e;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.bg-yellow-alternative {
  background-color: var(--color-secondary);
}

.black-alternative {
  color: var(--color-main);
}

.cursor-default {
  cursor: default;
}

.f30 {
  font-size: 30px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-duration: 1s;
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -15%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in-down {
  animation-duration: 0.5s;
  animation-name: fadeInDown;
}

.m-h5 {
  max-height: 16rem;
}

.m-vh-75 {
  max-height: 75vh;
}

.w30 {
  width: 30px;
}

@media screen and (min-width: 60em) {
  .width-one-seventh-l {
    width: calc(100% / 7);
  }
}
