@import 'tachyons';
@import './animations.css';
@import './droid-sans.css';
@import './ionicons.css';

.bg-black-alternative {
    background-color: #2e282a;
}

.bg-yellow-alternative {
    background-color: #ffe45e;
}

.black-alternative {
    color: #2e282a;
}

.current-page::after {
    color: #98d083;
    content: '•';
    font-weight: bold;
    right: 0.25rem;
    position: absolute;
    top: 25%;
}

.droid {
    font-family: 'Droid Sans', sans-serif;
}

.f-30-px {
    font-size: 30px;
}

.fadeIn {
    animation-duration: 1s;
    animation-name: fadeIn;
}

.fadeInDown {
    animation-duration: 0.5s;
    animation-name: fadeInDown;
}

.h-24-px {
    height: 24px;
}

.h-50-px {
    height: 50px;
}

.mh-75 {
    max-height: 75vh;
}

.mw-175 {
    max-width: 175px;
}

.pt-68-px {
    padding-top: 68px;
}

.text-shadow-1 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.toast__msg {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    display: flex;
    line-height: 1.25;
    margin-top: 10px;
    max-width: 350px;
    padding: 15px 10px;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.toast__msg--info {
    background-color: #ffeba8;
}

.toast__msg--hide {
    opacity: 0;
}

.toast__msg--success {
    background-color: #bcf5bc;
}

.vh-80 {
    height: 80vh;
}

.w-40-px {
    width: 40px;
}

.yellow-alternative {
    color: #ffe45e;
}

@media screen and (min-width: 30em) {
    .w-60-ns {
        width: 60px;
    }
}

@media screen and (min-width: 60em) {
    .w-one-seventh-l {
        width: calc(100% / 7);
    }
}
