@import 'tachyons';
@import './animations.css';
@import './offline.css';

.bg-black-alternative {
    background-color: #2e282a;
}

.bg-yellow-alternative {
    background-color: #ffe45e;
}

.black-alternative {
    color: #2e282a;
}

.droid {
    font-family: 'Droid Sans', sans-serif;
}

.fadeIn {
    animation-duration: 1s;
    animation-name: fadeIn;
}

.fadeInDown {
    animation-duration: 0.5s;
    animation-name: fadeInDown;
}

.h-50 {
    height: 50px;
}

.mh-75 {
    max-height: 75vh;
}

.mw-175 {
    max-width: 175px;
}

.pt68 {
    padding-top: 68px;
}

.text-shadow-1 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.vh-80 {
    height: 80vh;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.yellow-alternative {
    color: #ffe45e;
}

@media screen and (min-width: 30em) {
    .w-60-ns {
        width: 60px;
    }
}

@media screen and (min-width: 60em) {
    .w-one-seventh-l {
        width: calc(100% / 7);
    }
}
