.markdown-body {
    color: #2e282a;
    line-height: 1.5;
    overflow-x: scroll;
}

.markdown-body > :first-child {
    color: #2e282a !important;
    margin: 0;
    padding-bottom: 2rem;
    text-align: center;
}

.markdown-body > :last-child {
    margin-bottom: 0;
}

.markdown-body a {
    color: #357edd;
    text-decoration: none;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    color: #999;
    line-height: 1;
    margin: 1rem 0;
}

.markdown-body h1 {
    font-size: 1.5rem;
}

.markdown-body h2 {
    font-size: 1.25rem;
    margin: 2rem 0;
}

.markdown-body img {
    vertical-align: bottom;
    width: 100%;
}

@media screen and (min-width: 60em) {
    .markdown-body h1 {
        font-size: 2.25rem;
    }

    .markdown-body h2 {
        font-size: 1.5rem;
    }
}
