body.offline header {
    background-color: #ffcfcf !important;
}

header {
    transition: background-color 0.3s ease-in-out;
}

.toast__msg {
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 2px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    min-width: 300px;
    padding: 15px 10px;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.toast__msg--hide {
    opacity: 0;
}
