header.app__offline {
    background-color: #ffcfcf;
}

.home-note {
    font-style: oblique;
    margin-top: 20px;
    padding: 12px 15px;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 70%;
}

.toast__container {
    bottom: 20px;
    left: 20px;
    pointer-events: none;
    position: fixed;
}

.toast__msg {
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 50px;
    padding-left: 15px;
    padding-right: 10px;
    text-transform: initial;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1) 0;
    width: 250px;
    word-break: break-all;
}

.toast__msg--hide {
    opacity: 0;
}
