@import '../node_modules/tachyons/css/tachyons.css';
@import './css/animations.css';
@import './css/easter-egg.css';
@import './css/ionicons.css';

::-moz-selection {
  background-color: var(--color-secondary);
}

::selection {
  background-color: var(--color-secondary);
}

:root {
  --color-main: #2e282a;
  --color-secondary: #ffe45e;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.bg-yellow-alternative {
  background-color: var(--color-secondary);
}

.black-alternative {
  color: var(--color-main);
}

.f30 {
  font-size: 30px;
}
